body{
    margin: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    cursor: none;
    &.stop-scroll{
        overflow-y: hidden;
    }
}

a{
    cursor: none;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0px;
    color: $black;
}

h1{
    font-size: 29px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

h2{
    font-size: 21px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

p{
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: $alternate-black;
}

.container{
    width: 85%;
    margin: 0 auto;
    max-width: 1680px;
}

a:active, a:focus, a{
    outline: 0;
    border: none;
    -moz-outline-style: none;
}

.orange-button{
    width: 190px;
    margin: 0 auto !important;
    height: 50px;
    background: $orange-gradient;
    border-radius: 5px;
    border: 1px solid $orange;
    transition: 0.5s;
    a{
        line-height: 50px;
        width: 100%;
        height: 100%;
        display: block;
        text-align: center;
    }
    &:hover{
        background: white;
        a{
            color: $orange !important;
        }
    }
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $orange;
}

@media only screen and (min-width: $breakpoint-tablet){
    body{
        overflow-y: scroll !important;
    }

    h1{
        font-size: 40px;
    }

    h2{
        font-size: 32px;
    }
}

@media only screen and (min-width: $breakpoint-desktop){
    h1{
        font-size: 62px;
    }

    h2{
        font-size: 30px;
    }
}

.cursor-dot, .cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
    z-index: 99;
}

.cursor-dot {
    width: 8px;
    height: 8px;
    background-color: $orange;
}

.cursor-dot-outline {
    width: 40px;
    height: 40px;
    background-color: rgba(63, 61, 63, 0.2);
}