$black: #2C2828;

$breakpoint-tablet: 768px;

body{
    margin: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    &.stop-scroll{
        overflow-y: hidden;
    }
}

.container{
    width: 85%;
    margin: 0 auto;
    max-width: 1680px;
}