$black: #2C2828;
$white: #FFF;
$orange: #ED534A;
$grey: #F4F7F8;
$alternate-black: #3F3D3F;
$alternate-grey: #A6A5A5;
$second-alternate-grey: rgba(229, 229, 229, 0.3);
$orange-gradient: linear-gradient(54.44deg, #ED534A 7.79%, #FA7541 82.97%);

$breakpoint-mobile: 568px;
$breakpoint-tablet: 768px;
$breakpoint-invert: 940px;
$breakpoint-desktop: 1148px;
$breakpoint-lg-desktop: 1400px;
$breakpoint-xl-desktop: 1620px;