.experience-section{
    .experience-container{
        height: 100%;
        padding: 80px 0px;
        .experience-details{
            .title-section{
                width: fit-content;
                margin: 0 auto;
                padding-bottom: 40px;
                .title-design{
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    background-color: $orange;
                    float: right;
                    right: -50;
                    margin-right: -4px;
                }
                .experience-title{
                    font-weight: 700;
                    text-align: center;
                }
            }
            .experience-description{
                text-align: center;
                padding-bottom: 40px;
            }
            .languages-section{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                width: 80%;
                margin: 0 auto;
                .language{
                    display: grid;
                    grid-template-rows: 60px 20px 20px;
                    grid-row-gap: 10px;
                    width: 50%;
                    margin-bottom: 30px;
                    .language-icon{
                        width: 60px;
                        height: 60px;
                        background-color: $grey;
                        border-radius: 50%;
                        position: relative;
                        justify-self: center;
                        align-self: center;
                        img{
                            width: 40px;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: auto;
                            height: auto;
                        }
                    }
                    .language-title, .language-percentage{
                        justify-self: center;
                        align-self: center;
                        font-size: 18px;
                        font-family: 'Nunito', sans-serif;
                        font-weight: 700;
                        text-align: center;
                    }
                    .language-percentage{
                        color: $orange;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $breakpoint-mobile){
    .experience-section{
        .experience-container{
            .experience-details{
                .languages-section{
                    .language{
                        width: 32%;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $breakpoint-invert){
    .experience-section{
        .experience-container{
            .experience-details{
                .languages-section{
                    .language{
                        width: 25%;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $breakpoint-desktop){
    .experience-section{
        .experience-container{
            .experience-details{
                padding: 0px 80px;
                .title-section, .experience-description{
                    padding-bottom: 60px;
                }
                .languages-section{
                    width: 70%;
                }
            }
        }
    }
}

@media only screen and (min-width: $breakpoint-lg-desktop){
    .experience-section{
        .experience-container{
            .experience-details{
                padding: 0 10%;
            }
        }
    }
}