.projects-section{
    background-color: $grey;
    .projects-container{
        height: 100%;
        padding: 80px 0px;
        .title-section{
            width: fit-content;
            margin: 0 auto;
            padding-bottom: 40px;
            .title-design{
                width: 30px;
                height: 6px;
                background-color: $orange;
                transform: rotate(-51.53deg);
                margin-left: -25px;
                border-radius: 6px;
            }
            .projects-title{
                font-weight: 700;
                text-align: center;
            }
        }
        .projects-description{
            text-align: center;
            padding-bottom: 40px;
        }
        .work-section{
            .project{
                margin-bottom: 30px;
                display: grid;
                grid-template-rows: 200px 150px 90px;
                &:last-child{
                    margin-bottom: 0px;
                }
                .project-images{
                    height: 200px;
                    position: relative;
                    border-radius: 10px 10px 0px 0px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    a{
                        height: 100%;
                        width: 100%;
                        display: block;
                        .project-logo{
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            left: 0;
                            margin: auto;
                            max-height: 80%;
                            width: auto;
                            max-width: 60%;
                        }
                    }
                }
                .project-description{
                    text-align: center;
                    justify-self: center;
                    align-self: center;
                    font-size: 18px;
                    font-family: "Nunito",sans-serif;
                    font-weight: 600;
                    text-align: center;
                    height: 100%;
                    display: grid;
                    background-color: $white;
                    width: 100%;
                    .description-text{
                        align-self: center;
                        justify-self: center;
                        width: 90%;
                    }
                }
                .project-link{
                    border-radius: 0px 0px 10px 10px;
                    background-color: white;
                    padding: 10px 0px 30px;
                    a{
                        margin: 0 auto;
                        width: 190px;
                        border: 1px solid $orange;
                        border-radius: 5px;
                        height: 50px;
                        display: block;
                        text-align: center;
                        line-height: 50px;
                        color: $orange;
                        font-size: 18px;
                        font-family: "Nunito",sans-serif;
                        font-weight: 600;
                        text-decoration: none;
                        &:hover{
                            background: $orange-gradient;
                            color: $black;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $breakpoint-tablet){
    .projects-section{
        .projects-container{
            .work-section{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                margin: 0 auto;
                .project{
                    width: 48%;
                }
            }
        }
    }
}
@media only screen and (min-width: $breakpoint-desktop){
    .projects-section{
        border-radius: 50% 50% 0% 0% / 90px;
        .projects-container{
            .projects-details{
                padding: 0 80px;
                .title-section, .projects-description{
                    padding-bottom: 60px;
                }
                .work-section{
                    .project{
                        width: 31%;
                    }
                }
            }
            
        }
    }
}

@media only screen and (min-width: $breakpoint-lg-desktop){
    .projects-section{
        .projects-container{
            .projects-details{
                padding: 0 10%;
            }
            
        }
    }
}